.bet-wrapper {
  position: fixed;
  right: -350px;
  top: 0;
  bottom: 0;
  background: #333;
  max-width: 350px;
  width: 100%;
  transition: all 0.5s;
  background: url(../../assets/black.png);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  border-left: 1px solid #2c2929;
  /* box-shadow: 0px 10px 40px #ffffff1c; */
  z-index: 99999;
}

.bet-wrapper::before {
  content: "";
  background: #0a142991;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bet-wrapper.expand {
  right: 0;
}
/* 
 .bet-button {
    position: fixed;
    right: 0px;
    top: 15px;
} */
.bet-button {
  position: fixed;
  right: 0px;
  top: 15px;
  /* transform: translateX(0px); */
}
.bet-button span img {
  height: 13px;
  margin-top: 8px;
  filter: invert(1);
}

/* .bet-button span {
    background: #036a2c;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
} */
.bet-container {
  position: relative;
}

.bet-header {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #2c2929;
  background: #0f121b;
}

.bet-content {
  padding: 20px;
}

.bet-header span {
  cursor: pointer;
}
.bet-button span {
  background: #10790e;
  padding: 12px 10px;
  display: inline-block;
  border-radius: 17px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  display: flex;
  align-items: center;
  text-orientation: mixed;
  cursor: pointer;
  writing-mode: vertical-rl;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bet-button span i {
  font-weight: 600;
}

.bet-header span img {
  width: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #07974f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #07974f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bet-switch {
  margin-bottom: 20px;
}

.switch-title {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 0px 10px;
}

.bet-form .form-control,
.bet-form .form-control:focus {
  background: #161b27;
  color: #fff;
  border: 1px solid #312c2c;
  font-size: 14px;
  padding: 10px 15px;
  height: auto;
}

.bet-form .btn,
.bet-form .btn:hover,
.bet-form .btn:focus {
  width: 100%;
  background: #ff9800;
  border-color: #ff9800;
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 100px;
  box-shadow: none;
  border-bottom: 5px solid #ff9800;
  border-top: 5px solid #ff9800;
  margin-top: 10px;
  letter-spacing: 1px;
}

.bet-form .form-control:focus {
  box-shadow: none;
}

.bet-form label {
  font-size: 14px;
}

.switch-title {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 0px 10px;
}

.bet-listing {
  height: calc(100vh - 270px);
  overflow-y: auto;
  width: 100%;
}

.bet-listing::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: #191b25;
}

.bet-listing::-webkit-scrollbar {
  width: 5px;
  background-color: #222530;
}

.bet-listing::-webkit-scrollbar-thumb {
  background-color: #222530;
}

.bet-player {
  background: #161b27;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #312c2c;
  margin-bottom: 10px;
}

.bet-player-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.bet-player-pic img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.bet-player-name {
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
}

.bet-player-title h5 {
  font-size: 14px;
  margin: 0;
}

.bet-player-title span {
  font-size: 12px;
}

.bet-player-title {
  padding-left: 10px;
}

.bet-result {
  width: 50px;
  text-align: center;
}

.bet-result span {
  font-size: 12px;
  color: #ff9800;
}

.bet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #312c2c;
  padding-top: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.bet-challenger {
  width: 45%;
}

.bet-vs {
  padding: 0px 5px;
  font-size: 12px;
}

.bet-challenger img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5px;
}

.bet-challenger span {
  font-size: 12px;
  padding-left: 5px;
}

.bet-footer .bet-challenger:last-child {
  text-align: right;
}

.bet-challenger .btn,
.bet-challenger .btn:hover,
.bet-challenger .btn:focus {
  background: #efefef;
  border-color: #efefef;
  color: #000;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 100px;
  box-shadow: none;
  letter-spacing: 0.5px;
}
.bet-player.win {
  background-color: #07974f;
}
.bet-player.loss {
  background-color: #932222;
}
.bet-player.resume {
  background-color: #ff9800;
}
.game-not-started {
  text-align: center;
  margin-top: 35vh;
}

.game-not-started img {
  width: 160px;
  position: relative;
}

.game-not-started p {
  margin-top: 20px;
  font-size: 18px;
}

/* .game-msg p {
    background-color: #a46b1cba;
    padding: 14px 60px;
    width: 100%;
    z-index: 999999999;
    position: relative;
    font-size: 26px;
    text-shadow: 0px 3px 10px #0e0e0e;
    border-radius: 0;
    font-weight: 400;
    background: linear-gradient(to left, #cc6600 80%, #cf6e0e00 100%);
    border: 3px solid #cc6600;
    border-left: none;
    border-right: none;
} */
.winner-text {
  background-color: #a46b1cba;
  padding: 10px 30px !important;
  width: 100%;
  z-index: 999999999;
  position: relative;
  font-size: 20px !important;
  text-shadow: 0px 3px 10px #0e0e0e !important;
  border-radius: 0;
  font-weight: 400;
  background: linear-gradient(
    to right,
    #cf6e0e17 0%,
    #a46b31 17%,
    #a46b1c 83%,
    #a0681a00 100%
  );
  border: 1px solid #cc6600;
  border-left: none;
  border-right: none;
  text-align: center;
}
.bet-challenger .bet-winner {
  background-color: #046104;
  border-radius: 25px;
  width: fit-content;
  padding: 2px 12px;
  margin: 0px auto;
}
.bet-form .form-control option {
  font-family: "Russo One", sans-serif !important;
  font-weight: bolder !important;
  -moz-font-family: "Russo One", sans-serif !important;
  font: inherit;
}
.bet-player .btn-primary:disabled {
  background: #fff;
  border-color: #fff;
  color: #999;
}

.disable-btn {
  cursor: not-allowed;
}
