.poker-home {
  position: relative;
}

.avatar img {
  border-radius: 50%;
  position: relative;
  left: -5px;
  margin-left: -15px;
  z-index: 1;
  object-fit: cover;
  width: 22px;
  height: 22px;
}

.avatars {
  direction: rtl;
  /* This is to get the stack with left on top */
  text-align: left;
  /* Now need to explitly align left */
  padding-left: 15px;
  /* Same value as the negative margin */
}

.poker-loader {
  position: absolute;
  background: #000000f5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.poker-loader img {
  width: 100px;
}

.home-poker-card-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.home-poker-content {
  position: relative;
  background: #141414;
  border: 1px solid #111;
  border-radius: 8px;
  overflow: hidden;
}

.home-poker-cover img {
  width: 100%;
}

.home-poker-info {
  padding: 10px 15px;
}

.home-poker-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}

.home-poker-info button {
  width: 100%;
  padding: 6px 15px;
  background: #f9ff00;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #f9ff00;
}

.home-poker-card {
  margin-bottom: 80px;
  position: relative;
}

.home-poker-card h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  font-weight: 600;
}

.poker-avatar-box p {
  color: #ddd;
  margin: 0;
}

.poker-avatar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.user-header {
  margin-bottom: 80px;
  padding: 5px 0px 5px;
  background: #141414;
}

.user-header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-box .pokerWallet-box {
  margin: 0;
  font-weight: 100;
  color: #bcbcbc;
  font-size: 14px;
}

.create-game-box button {
  padding: 8px 20px;
  background: #f9ff00;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid #f9ff00;
  height: 42px;
  width: 152px;
}

.backtoHome {
  position: absolute;
  top: -45px;
}

.backtoHome a {
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
}

.backtoHome a img {
  width: 22px;
  height: 22px;
  padding-bottom: 2px;
}

.casino-logo img {
  width: 150px;
}

.create-game-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.user-info-box {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  gap: 15px;
  align-items: center;
}

.user-info-box h5 {
  text-transform: capitalize;
  font-size: 18px;
  margin: 0;
  padding-bottom: 3px;
}

.user-info-box p i {
  color: #f9ff00;
}

.casino-popup .modal-content {
  background: #2a2a2a;
  border-color: #2a2a2a;
}

.casino-popup .modal-header {
  border-bottom: 1px solid #363636;
  align-items: center;
}

.casino-popup .modal-footer {
  border-top: 1px solid #363636;
  align-items: center;
}

.casino-popup .modal-header .modal-title.h4 {
  color: #fff !important;
}

.casino-popup .modal-header button.close {
  color: #fff;
  font-weight: 100;
  text-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.casino-popup .form-control,
.casino-popup .form-control:focus {
  background: #333;
  border: 1px solid #3d3d3d;
  color: #ddd;
  box-shadow: none !important;
}

.casino-popup .form-control::placeholder {
  color: #ddd;
}

.casino-popup .form-group {
  margin-bottom: 25px;
}

.modal-footer .btn,
.modal-footer .btn:focus,
.modal-footer .btn:active {
  padding: 8px 20px;
  background: #f9ff00 !important;
  border-color: #f9ff00 !important;
  border-radius: 8px;
  font-weight: 500;
  color: #000 !important;
  box-shadow: none !important;
}

.modal-footer .btn.btn-secondary {
  background-color: #545b62 !important;
  border-color: #4e555b !important;
  color: #fff !important;
}

.blindpopupField {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.css-1rhbuit-multiValue {
  background-color: hsl(0deg 0% 16%) !important;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  min-width: 0;
  color: #fff;
  box-sizing: border-box;
}

.css-12jo7m5 {
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.createGameCheckHand {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.createGameCheckHand .form-check-input {
  background-color: yellow !important;
}

.no-room-available {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #141414;
  border-radius: 12px;
  padding: 50px;
  width: 100%;
}

.no-room-available h4 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
}

.walletTicket-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.walletTicket-box .pokerWallet {
  width: 38px;
  height: 26px;
  object-fit: contain;
  margin: 0px 5px;
}

.pokerWallet-box button {
  width: auto !important;
  height: auto !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0px 0px 4px 4px;
  padding: 0 !important;
  font-size: 12px;
}

.create-game-box-avtar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px;
}

.create-game-box-avtar h5 {
  margin-bottom: 0px !important;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2px;
}

.create-game-box-avtar img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .home-poker-card-grid {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .poker-tableSearch-box {
    position: absolute;
    right: 0px;
    top: -52px;
  }

  .create-game-box-avtar {
    position: absolute;
    top: -134%;
    right: 20%;
  }

  .blindpopupField {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .casino-popup label {
    font-size: 14px !important;
  }

  .user-header-grid {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .create-game-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-row-gap: 12px;
    row-gap: 12px;
    align-items: center;
    width: 100%;
    margin-top: 12px;
  }

  .create-game-box h5 {
    display: grid;
    grid-column-end: 3;
    grid-column-start: 1;
    text-align: center;
  }
}

.css-12jo7m5 {
  font-size: 14px !important;
}

.poker-table-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poker-tableSearch {
  max-width: 300px;
  position: relative;
  margin-bottom: 6px;
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 15px;
  padding-right: 46px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eaeaea !important;
  border: 1px solid #35373f !important;
  background: #35373f !important;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border-radius: 30px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:active,
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 75, 75, 0.25) !important;
}

.poker-tableSearch button {
  background: #f9ff00;
  border-radius: 50%;
  font-weight: 500;
  border: 1px solid #f9ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 3.5px;
  right: 4px;
}

@media screen and (max-width: 530px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .no-room-available h4 {
    font-size: 20px;
  }

  .create-game-box button {
    font-size: 14px;
  }

  .poker-tableSearch {
    max-width: 160px;
  }
}