.leave-confirm.modal .sub-btn .btn {
  border-color: #f9ff00;
  font-size: 14px;
  box-shadow: none;
  color: black;
}
.leave-confirm.modal .sub-btn .btn.btn-primary:hover,
.leave-confirm.modal .sub-btn .btn.btn-primary:focus {
  border-color: #f9ff00;
  background: #f9ff00;
  box-shadow: none;
  color: black;
}
.leave-confirm.modal .sub-btn {
  margin-bottom: 30px;
}

.leave-confirm.modal .sub-btn .btn + .btn {
  margin-left: 15px;
}
.leave-confirm.modal .block > p {
  text-align: center;
  padding-bottom: 34px;
}

@media screen and (max-width: 767px) {
  .leave-confirm.modal .block > p {
    padding-bottom: 10px;
  }
}
