.leave-confirm.modal .sub-btn .btn {
  border-color: #f9ff00;
  font-size: 16px;
  box-shadow: none;
  color: black;
  border-radius: 4px;
  font-weight: 600;
  border-radius: 30px;
  width: 150px;
  display: grid;
  place-content: center;
}

.leave-confirm.modal .sub-btn .btn.btn-primary:hover,
.leave-confirm.modal .sub-btn .btn.btn-primary:focus {
  border-color: #f9ff00;
  background: #f9ff00;
  box-shadow: none;
  color: black;
}

.leave-confirm.modal .sub-btn {
  margin-bottom: 30px;
}

.block .sub-btn {
  margin-bottom: 10px !important;
  width: 100%;
  display: grid;
  place-items: center;
}
.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  width: 100% !important;
}
.block .form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.leave-confirm.modal .sub-btn .btn+.btn {
  margin-left: 15px;
}

.leave-confirm.modal .block>p {
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.sitinPopup-div {
  margin-bottom: 20px;
  padding: 0 10px;
}

.modal-content .block {
  text-align: center;
  display: grid;
  place-items: center;
}

.sitinPopup label.form-label {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.sitinPopup .form-control,
.sitinPopup .form-control:active,
.sitinPopup .form-control:focus {
  background-color: #000000;
  border: 1px solid #1a1a1a;
  box-shadow: none !important;
  color: #fff;
  font-size: 14px;
  height: 44px;
  box-shadow: 0px 2px 10px rgba(25, 25, 25, 0.637);
  border-radius: 30px;
  padding: 2px 20px;
}

.sitinPopup .sub-btn.text-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.text-center {
  text-align: center !important;
}

.exit-btn.btn,
.grey-btn.btn {
  height: 38px;
  transition: all .5s;
  width: 144px;
}

.exit-btn.btn {
  background: #f9ff00;
  border-color: #f9ff00;
  color: #010101;
  font-weight: 500;
}

.grey-btn.btn,
.grey-btn.btn:active,
.grey-btn.btn:hover,
.grey-btn.btn:focus {
  background: #343a40 !important;
  border-color: #343a40 !important;
  color: #ddd !important;
}

.errorMssg {
  text-align: left;
  color: red;
  font-size: 12px;
  margin: 2px;
}

@media screen and (max-width: 767px) {
  .leave-confirm.modal .block>p {
    padding-bottom: 10px;
  }
}