@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap";

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  color: #ddd !important;
  background: #1b1b1b !important;
}

@media screen and (max-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px !important;
  }
}
::-moz-selection {
  color: rgb(0, 0, 0) !important;
  background: #f9ff00 !important;
}

::selection {
  color: rgb(0, 0, 0) !important;
  background: #f9ff00 !important;
}

/* .cus-toastify {
  background: #1d1d1d !important;
  border: 1px solid #232323 !important;
} */

.toaster-join {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toaster-join span {
  color: #000000;
  font-size: 14px;
  width: calc(100% - 100px);
  display: block;
  line-height: 1.5;
}

.toaster-join button {
  background-color: #159913;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  height: 35px;
  border: none;
  width: 80px;
}
